<%# Css Card for a book %>
<div class="d-
  <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @book.author %></h5>
        <p class="card-text"><%= @book.isbn %></p>
        <p class="card-text"><small class="text-muted">Last updated: <%= @book.updated_at %></small></p>
      </div>
    </div>
  </div>
</div>
<form method="post" action="/books/<%= @book.id %>/comments" class="mx-auto">
  <input type="text" name="body"/>
  <input type="submit" />
</form>
<div class="d-flex justify-content-center align-items-center p-5 flex-column">
  <% @book.comments.order(created_at: :desc).each do |comment| %>
    <div class="border rounded p-3 my-3 w-100 d-flex justify-content-between">
      <div><%= comment.body %></div>
      <div><%= User.find(comment.user_id).name %></div>
    </div>
  <% end %>
</div>
